mixin expense_row(user)
	tr
		td #{user.name}
		td #{user.share}
		td #{user.amount}



.panel.panel-default
	.panel-heading.header-expense-elem
		span  #{transfer.name}
		span(style='float: right') #{transfer.amount}

	.panel-body(style='display: none', id="#{transfer.id}")
		if transfer.title
			h3 #{transfer.title}
		if transfer.description
			p #{transfer.description}
		if transfer.date
			p Date: #{transfer.date}
		table.table
			thead
				tr
					th Name
					th %
					th Amount
			tbody
				for user in transfer.users
					+expense_row(user)
		button.delete-expense-elem.btn.btn-default.btn-block Delete
		button.update-expense-elem.btn.btn-default.btn-block Modify
