.panel.panel-default
	.panel-heading.header-expense-elem
		span  #{expense.name}
		span(style='float: right') #{expense.amount}

	.panel-body(style='display: none', id="#{expense.id}")
		.form-btn
			label(for='seeder') Who have paid ?
			button#seeder.btn #{expense.seeder}

		.form-btn
			label(for='leecher-list') Who take advantage ?
			#leecher-list.row
				for leecher in expense.leecher
					button.btn #{leecher.name}
		button.btn.btn-default.btn-block.delete-expense-elem Delete
