.panel.panel-default
  .panel-body
    .panel.panel-primary
      .panel-heading Users
      .panel-body

        #stats-module.col-md-4
          #user-list.col-md-12
            each user in count.users
              .row
                button.btn(style="background-color: ##{user.color}") #{user.name}
          if count.status == 'active'
            #name-alert.row.col-md-12
              .input-group
                form
                  input#count-input-add-user.form-control(type='text', placeholder='My name')
                  span.input-group-btn
                    input#count-lauch-add-user.btn.btn-default(type='submit'
                    value='Add user')

        #canvas-block.col-md-4.col-xs-6
          h4 Expenses per users
          <canvas id="chart-users" width="150" height="150"></canvas>

        .col-md-4.col-xs-6
          label(for='all-expenses') All Expenses:
          p#all-expenses #{count.allExpenses}
          label(for='nb-expenses') Number Expenses:
          p#nb-expenses #{count.expenses.length}
          label(for='nb-expenses') Expenses per user:
          p#perUser-expenses #{expensePerUser}

        if (count.status == 'active')
          button.btn.btn-primary.btn-block Add Event

    .panel.panel-primary
      .panel-heading#header-balancing
        span.caret
        span &nbsp;Balancing
      #module-balancing

    .panel.panel-primary
      .panel-heading History
      .panel-body
        #expense-list-view
          if count.expenses.length == 0
            span#empty-history Your history is empty
          else
            for expense in count.expenses
              block expense

